@use '../styles/variables' as *;

.featured-pets {
  padding: 1.6rem 0 0.2rem;
}

.featured-pets__head {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: space-between;
}

.featured-pets__grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

@media (max-width: 1020px) {
  .featured-pets__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 760px) {
  .featured-pets__head {
    align-items: stretch;
    flex-direction: column;
  }

  .featured-pets__grid {
    grid-template-columns: 1fr;
  }
}

